<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgk1EdHDaWXc0NwoyYLZ6HWYAn-5WN37w</string>
	<key>GCM_SENDER_ID</key>
	<string>717955524859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevITIS.1k-mile.AnimeWave</string>
	<key>PROJECT_ID</key>
	<string>animewave-b87ee</string>
	<key>STORAGE_BUCKET</key>
	<string>animewave-b87ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717955524859:ios:40563cb17091d2dce4a85e</string>
</dict>
</plist>